%h1= t('.title')

.col-sm-6.mx-auto
  = simple_form_for @user, html: {class: 'form-horizontal mt-4'} do |f|
    = f.input :email
    = f.input :password, required: true
    = f.input :password_confirmation, required: true
    = f.input :full_name
    = f.input :birth_date, as: :string
    = f.input :small_biography
    = f.button :submit
